<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ikbalghozali.githubuserapi">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GitHubUserApi">

        <activity
            android:name="com.ikbalghozali.githubuserapi.ui.splash.SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.ikbalghozali.githubuserapi.ui.setting.SettingActivity"
            android:exported="false"
            android:parentActivityName="com.ikbalghozali.githubuserapi.ui.main.MainActivity" />

        <activity
            android:name="com.ikbalghozali.githubuserapi.ui.favorite.FavoriteActivity"
            android:exported="false"
            android:parentActivityName="com.ikbalghozali.githubuserapi.ui.main.MainActivity" />

        <activity
            android:name="com.ikbalghozali.githubuserapi.ui.detail.DetailUserActivity"
            android:exported="true"
            android:parentActivityName="com.ikbalghozali.githubuserapi.ui.main.MainActivity" />

        <activity
            android:name="com.ikbalghozali.githubuserapi.ui.main.MainActivity"
            android:exported="true" />
    </application>

</manifest>